@charset "UTF-8";
body {
  background-color: #1c1c1c;
  overflow-x: hidden; }

a {
  text-decoration: none; }

/* Header */
header {
  background-color: #0C0C0C; }

ul :first-child {
  margin-left: 23%; }

li {
  margin-right: 10%; }

.navbar-dark .navbar-nav .nav-link {
  color: #519749;
  font-family: "Poppins", sans-serif;
  font-size: calc(1rem + 0.32vw); }

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #519749;
  transition: width .4s; }

.navbar-dark .navbar-nav .nav-link:hover::after {
  width: 135%; }

.logo {
  height: 100px; }
  .logo a img {
    height: 100%; }

@media screen and (max-width: 992px) {
  .logo {
    height: 55px; }
  ul :first-child {
    margin-left: 0; }
  li {
    margin-right: 0; } }

main {
  min-height: 100vh; }

/* Titulos */
.titulos {
  font-family: "Poppins", sans-serif;
  font-size: calc(1rem + 3.4vw);
  color: #0C0C0C;
  margin-left: 1%;
  text-shadow: -1px 0 #519749, 0 1px #519749, 1px 0 #519749, 0 -1px #519749; }

/* Footer */
footer {
  background-color: #0C0C0C; }
  footer .pie {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding-top: 10px; }
    footer .pie .contactFooter {
      display: block;
      width: fit-content; }
      footer .pie .contactFooter h2 {
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-size: calc(1rem + 0.32vw);
        margin-bottom: 10px; }
      footer .pie .contactFooter .contactIcon {
        margin-bottom: 15px;
        display: flex;
        width: fit-content;
        margin-left: 20px; }
        footer .pie .contactFooter .contactIcon a {
          color: aliceblue;
          font-family: "Poppins", sans-serif;
          font-size: calc(1rem+0.2vw);
          margin-top: 6px;
          margin-left: 10px; }
          footer .pie .contactFooter .contactIcon a:hover {
            color: #519749; }
        footer .pie .contactFooter .contactIcon p {
          color: aliceblue;
          font-family: "Poppins", sans-serif;
          font-size: calc(1rem+0.2vw);
          margin-top: 6px;
          margin-left: 10px; }
        footer .pie .contactFooter .contactIcon .icon {
          height: 35px;
          border-radius: 10px; }
    footer .pie .volverArriba {
      margin: auto; }
    footer .pie .newsletter {
      width: 25%; }
      footer .pie .newsletter h2 {
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-size: calc(1rem + 0.32vw);
        margin-top: 30px; }
      footer .pie .newsletter p {
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        margin-top: 30px;
        font-size: calc(1rem+0.2vw); }
      footer .pie .newsletter form {
        font-family: "Poppins", sans-serif;
        margin-top: 40px; }
        footer .pie .newsletter form div {
          margin-top: 10px; }
          footer .pie .newsletter form div:hover #lemailFooter {
            transform: translate(0, -30px) scale(0.8); }
          footer .pie .newsletter form div label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(10px, 10px);
            transform-origin: left;
            transition: transform .25s;
            color: aliceblue; }
          footer .pie .newsletter form div input {
            padding: 10px;
            border: none;
            border-radius: 4px;
            font: inherit;
            background-color: transparent;
            outline: 2px solid aliceblue; }
      footer .pie .newsletter .emailFooter {
        position: relative; }
      footer .pie .newsletter input[type=submit] {
        background-color: transparent;
        border: solid aliceblue;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer; }
        footer .pie .newsletter input[type=submit]:hover {
          background-color: white;
          color: #0C0C0C; }
  @media screen and (max-width: 992px) {
    footer .pie {
      flex-direction: column; }
      footer .pie .newsletter {
        width: fit-content; } }

/* Index */
.seccion1Index {
  width: 100vw;
  height: 70vh;
  text-align: center;
  background-image: url("../imagenes-generales/imagenes-inicio/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; }
  .seccion1Index div .tituloIndex h1 {
    font-family: "Poppins", sans-serif;
    font-size: calc(1rem + 3.4vw);
    color: #0C0C0C;
    text-shadow: -1px 0 #519749, 0 1px #519749, 1px 0 #519749, 0 -1px #519749; }
  .seccion1Index div .eslogan {
    margin-top: 60vh;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    font-style: italic;
    font-size: calc(1rem + 3.4vw); }

.S2Index {
  margin-top: 5%; }
  .S2Index div div h2 {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.325rem + .9vw); }
  .S2Index div div p {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1rem + 0.32vw); }
  .S2Index div .imagenS2Index img {
    width: 100%; }

.seccion4Index {
  margin-top: 2%; }
  .seccion4Index .tituloProductosIndex {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.325rem + .9vw);
    text-align: center; }

@media screen and (max-width: 992px) {
  .seccion1Index {
    height: 55vh;
    text-align: center;
    background-image: url("../imagenes-generales/imagenes-inicio/portada-movil.jpg"); }
    .seccion1Index div .eslogan {
      margin-top: 36vh; } }

/* Gimnasio */
.SeccionesGimnasio {
  margin-top: 5%; }
  .SeccionesGimnasio div div img {
    width: 100%; }
  .SeccionesGimnasio div div h2 {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.325rem + .9vw); }
  .SeccionesGimnasio div div p {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1rem + 0.32vw); }

/* Boton Grande */
.boton {
  margin: 8% auto;
  background-color: #519749;
  width: fit-content;
  border: solid 0.5vh #0C0C0C;
  border-radius: 1vh;
  padding: 1%;
  transition: background-color 1s; }
  .boton:hover {
    background-color: #C3C3C1; }
    .boton:hover a {
      color: #0C0C0C; }
  .boton a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(1.325rem + .9vw);
    font-family: "Poppins", sans-serif; }

/* Boton Pequeño */
.vermas {
  margin: 60px auto;
  background-color: #519749;
  width: fit-content;
  height: fit-content;
  border: solid 0.5vh #0C0C0C;
  border-radius: 6px;
  padding: 0.5vw;
  transition: background-color 1s; }
  .vermas:hover {
    background-color: #C3C3C1; }
    .vermas:hover a {
      color: #0C0C0C; }
  .vermas a {
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(1rem + 0.32vw); }

/* planes */
.accordion {
  display: none; }

.pases {
  margin-top: 3%;
  margin-bottom: 3%; }
  .pases h2 {
    color: #519749;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.325rem + .9vw);
    margin-left: 3%; }
  .pases .plan {
    width: 75%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #363636;
    margin-top: 1%;
    transition: border 0.3s; }
    .pases .plan:hover {
      border: solid #519749; }
    .pases .plan .primerSeccionPlan {
      margin-left: 1%;
      margin-top: 1%;
      max-width: 60%; }
      .pases .plan .primerSeccionPlan .tituloDescripPlanes h3 {
        color: aliceblue;
        font-family: "Roboto", sans-serif;
        font-size: calc(1rem + 0.32vw); }
      .pases .plan .primerSeccionPlan .tituloDescripPlanes p {
        color: aliceblue;
        font-family: "Roboto", sans-serif;
        font-size: calc(1rem + 0.32vw); }
    .pases .plan .ultimaSeccionPlan {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 28%;
      margin-right: 1%;
      margin-top: 1%;
      height: 20%; }
      .pases .plan .ultimaSeccionPlan div img {
        width: 100%; }
      .pases .plan .ultimaSeccionPlan div a {
        color: #0C0C0C;
        font-family: "Roboto", sans-serif;
        font-size: calc(1rem + 0.32vw);
        font-weight: 600; }
      .pases .plan .ultimaSeccionPlan .botonContratar {
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        background-color: #519749;
        transition: background-color 0.5s; }
        .pases .plan .ultimaSeccionPlan .botonContratar:hover {
          background-color: #C3C3C1; }

@media screen and (max-width: 1200px) {
  .pases .plan {
    display: none; }
  .accordion {
    display: block; } }

.dropdown {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.32vw); }
  .dropdown ul :first-child {
    margin-left: 0%; }
  .dropdown .btn-secondary:hover {
    background-color: #519749; }

/* planes Movile */
.accordion-header button {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.32vw); }

.accordion-item {
  background-color: #1c1c1c;
  border: solid #0C0C0C; }

.accordion-button {
  background-color: #363636; }
  .accordion-button:not(.collapsed) {
    color: aliceblue;
    background-color: #519749; }

.collapse:not(.show) .accordion-button {
  background-color: #363636; }

.tituloDescripPlanesMovile h3 {
  color: #519749;
  font-family: "Roboto", sans-serif;
  font-size: calc(1.325rem + .9vw); }

.tituloDescripPlanesMovile p {
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.32vw); }

.mesesContratarMovile .botonContratar {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #519749; }
  .mesesContratarMovile .botonContratar a {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1rem + 0.32vw); }
  .mesesContratarMovile .botonContratar:hover {
    background-color: #C3C3C1; }

.imagenPlanesMovile img {
  width: 100%; }

/* Tienda */
.seccionesTienda {
  width: 95%;
  margin-top: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  .seccionesTienda h2 {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.325rem + .9vw);
    margin-top: 5%;
    margin-bottom: 2%; }

.seccion1Contacto {
  margin-top: 2%; }
  .seccion1Contacto .row {
    justify-content: space-around; }
    .seccion1Contacto .row .paginaContacto {
      width: fit-content; }
      .seccion1Contacto .row .paginaContacto .boxContactIcon {
        margin-bottom: 15px;
        display: flex;
        width: fit-content;
        margin-left: 20px; }
        .seccion1Contacto .row .paginaContacto .boxContactIcon a {
          color: aliceblue;
          font-family: "Poppins", sans-serif;
          font-size: calc(1rem+0.2vw);
          margin-top: 6px;
          margin-left: 10px; }
          .seccion1Contacto .row .paginaContacto .boxContactIcon a:hover {
            color: #519749; }
        .seccion1Contacto .row .paginaContacto .boxContactIcon p {
          color: aliceblue;
          font-family: "Poppins", sans-serif;
          font-size: calc(1rem+0.2vw);
          margin-top: 6px;
          margin-left: 10px; }
        .seccion1Contacto .row .paginaContacto .boxContactIcon img {
          height: 35px;
          border-radius: 10px; }
    .seccion1Contacto .row .formContacto .nombreContacto {
      display: inline-block; }
      .seccion1Contacto .row .formContacto .nombreContacto input {
        padding: 10px;
        border: none;
        border-radius: 4px;
        font: inherit;
        background-color: transparent;
        outline: 2px solid aliceblue; }
    .seccion1Contacto .row .formContacto .emailContacto {
      display: inline-block; }
      .seccion1Contacto .row .formContacto .emailContacto input {
        padding: 10px;
        border: none;
        border-radius: 4px;
        font: inherit;
        background-color: transparent;
        outline: 2px solid aliceblue; }
    .seccion1Contacto .row .formContacto .mensajeContacto {
      margin-top: 3%; }
      .seccion1Contacto .row .formContacto .mensajeContacto textarea {
        padding: 10px;
        border: none;
        border-radius: 4px;
        font: inherit;
        background-color: transparent;
        outline: 2px solid aliceblue; }
    .seccion1Contacto .row .formContacto input[type=submit] {
      background-color: transparent;
      border: solid aliceblue;
      color: white;
      padding: 10px;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer; }
      .seccion1Contacto .row .formContacto input[type=submit]:hover {
        background-color: white;
        color: #0C0C0C; }

.seccion2Contacto {
  margin-top: 2%;
  margin-bottom: 2%; }
  .seccion2Contacto .row {
    justify-content: space-around; }
    .seccion2Contacto .row .map iframe {
      height: 100%;
      width: 100%; }
    .seccion2Contacto .row .imagenContacto {
      width: 45%; }
      .seccion2Contacto .row .imagenContacto img {
        width: 100%;
        height: 100%; }

@media screen and (max-width: 992px) {
  .imagenContacto {
    display: none; }
  .map {
    height: 30vh; } }

/* Contenedores Productos */
.carousel {
  display: none; }

.contenedorProductos {
  margin-top: 3.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  .contenedorProductos .subcontenedorProductos {
    margin-top: 3%;
    width: 16%;
    margin: 0 20px; }
    .contenedorProductos .subcontenedorProductos * {
      transition: 400ms; }
    .contenedorProductos .subcontenedorProductos:hover .imagenesProductos {
      transform: translate(-16px, -42px) rotate(-16deg) scale(1.1); }
    .contenedorProductos .subcontenedorProductos .fondoProductos {
      background-color: #fff;
      height: 50%; }
      .contenedorProductos .subcontenedorProductos .fondoProductos img {
        width: 100%;
        height: 100%; }
    .contenedorProductos .subcontenedorProductos p {
      color: aliceblue;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: calc(1rem + 0.32vw); }
    .contenedorProductos .subcontenedorProductos .carritoComprar {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between; }
      .contenedorProductos .subcontenedorProductos .carritoComprar a {
        color: #519749;
        font-family: "Poppins", sans-serif;
        font-size: calc(1rem + 0.32vw); }
        .contenedorProductos .subcontenedorProductos .carritoComprar a:hover {
          color: aliceblue; }

@media screen and (max-width: 1200px) {
  .contenedorProductos {
    display: none; }
  .carousel {
    display: block; } }

.carousel-item div .labelsSuplementos {
  color: #0C0C0C; }
