/* Contenedores Productos */
@import './base/mixins';
.carousel{
    display: none;
}


.contenedorProductos{

    display:flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 3.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    .subcontenedorProductos{
        margin-top: 3%;
        width: 16vw;
       
        margin: 0 20px;
        
        *{
            transition: 400ms;
        }
        &:hover{
            .imagenesProductos{
                transform: translate(-16px,-42px) rotate(-16deg) scale(1.1);
            }
        }
        .fondoProductos{
            background-color: #fff;
            height: 50%;
            img{
                width: 100%;
                height: 100%;
            }

        }
        p{
            color: $color-textos;
            text-align: center;
            font-family: $fuente-principal;
            font-size: map-get($tamaños, "tamaño-parrafos");  
        }
        .carritoComprar{
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-self: auto;

            a{
                color: $color-primario;
                font-family: $fuente-principal;
                font-size: map-get($tamaños, "tamaño-fuentescontacto");
                &:hover{
                    color: $color-textos;
                }
            }
        }

    }

}

.carousel-item{
    img{
        width: 100%;
    }

.carousel-caption{
    h5{
        margin-top: 100px;
    }
}
}
@include mediaQuery('xlarge'){
    .contenedorProductos{
        display: none;
    }

    .carousel{
        display: block;
    }
}



