$color-primario: #519749;
$color-secundario: #0C0C0C;
$color-terciario: aliceblue;
$color-cuaternario: #1c1c1c;
$color-fondobotones:#C3C3C1;
$color-pases: #363636;

$color-textos: aliceblue;
$color-titulospaginas: #0C0C0C;


$tamaños:(
    "tamaño-titulos":calc(1.325rem + .9vw),
    "tamaño-parrafos":calc(1rem + 0.32vw),
    "tamaño-titulospaginas":calc(1rem + 3.4vw),
    "tamaño-fuentescontacto": calc(1rem+0.2vw)
);


$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria:'Roboto', sans-serif;

